@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

/* login page starts */
.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(49deg, #feaf00 0%, #f8d442 100%);
}

.loginContainer {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.1);
  width: 476px;
  height: 550px;
}

.loginTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
  border-left: #f8d442 6px solid;
  font-weight: 700;
  font-size: 32px;
  height: 39px;
  margin-top: 44px;
  padding: 0 12.5px 0 12.5px;
  /* font-family: Montserrat; */
}

.loginTitles h2 {
  color: #000;
  font-size: 22px;
  font-weight: 600;
  margin-top: 43px;
  /* font-family: Montserrat; */
}

.loginTitles p {
  color: #6c6c6c;
  font-size: 14px;
  /* font-family: Montserrat; */
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px 30px 0 30px;
}

.loginForm input {
  width: 415px;
  height: 44px;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  background: #fff;
}

.loginForm label {
  color: #6c6c6c;
  font-size: 14px;
  /* font-family: Montserrat; */
  font-weight: 500;
  margin: 20px 0 10px 0;
}

.loginForm input::placeholder {
  color: #cdcdcd;
  font-size: 12px;
  /* font-family: Montserrat; */
  padding: 15px;
}

.loginForm button {
  width: 415px;
  height: 44px;
  border-radius: 4px;
  background: #feaf00;
  color: #fff;
  font-size: 14px;
  /* font-family: Montserrat; */
  font-weight: 500;
  margin: 30px 0 27px 0;
}

.resetPassword {
  color: #6c6c6c;
  font-size: 14px;
  /* font-family: Montserrat; */
  margin: 0 0 41px 0;
  display: flex;
  justify-content: center;
}

.resetPassword a {
  color: #feaf00;
  text-decoration: underline;
}

/* login page ends */

/* navbar starts */

.navbar {
  background: #f2eae1;
  padding: 18px 25px 33px 25px;
}

.navbarHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #000;
  font-size: 20px;
  /* font-family: Montserrat; */
  font-weight: 700;
  height: 23px;
  padding-left: 12.5px;
  border-left: #f8d442 4px solid;
}

.navbarPhotoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: red;
  margin-top: 36px;
}

.navbarPhoto {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #f8d442;
}

.navbarName {
  color: #000;
  font-size: 17px;
  /* font-family: Montserrat; */
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.navbarRole {
  color: #feaf00;
  font-size: 14px;
  /* font-family: Montserrat; */
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.navbarMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.navbarList {
  list-style: none;
  color: #000;
  font-size: 14px;
  /* font-family: Montserrat; */
  font-weight: 500;
  gap: 20px;
}

.navbarListItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 41px;
  border-radius: 4px;
  padding: 11px 41px 13px 41px;
  margin-bottom: 20px;
}

.navbarListItem:hover {
  background: #feaf00;
  cursor: pointer;
}

.navbarListItem p {
  margin-left: 20px;
}

.logout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 41px;
  border-radius: 4px;
  padding: 11px 41px 13px 41px;
  gap: 20px;
  margin-top: 128px;
}

.logout:hover {
  background: #feaf00;
  cursor: pointer;
}

.logout p {
  color: #000;
  font-size: 14px;
  /* font-family: Montserrat; */
  font-weight: 500;
}

/* navbar ends */

/* home page starts */

.homePage {
  display: grid;
  grid-template-columns: 1fr 4.33fr;
  gap: 0px 0px;
}

.homeOverview {
  height: 100vh;
  margin: 0 30px 0 30px;
}

.homeHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #fff;
  padding: 0 30px 0 30px;
}

.homeBoxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  gap: 30px;
}

.studentsBox {
  position: relative;
  width: 255px;
  height: 157px;
  border-radius: 8px;
  background: #f0f9ff;
  color: #6c6c6c;
  font-size: 14px;
  /* font-family: Montserrat; */
  font-weight: 500;
  padding: 20px;
}

.studentsBox:hover {
  background: linear-gradient(134deg, #feaf00 0%, #f8d442 100%);
  cursor: pointer;
  color: #fff;
}

.studentsBox span {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #000;
  font-size: 30px;
  /* font-family: Montserrat; */
  font-weight: 700;
}

.coursesBox {
  position: relative;
  width: 255px;
  height: 157px;
  border-radius: 8px;
  background: #fef6fb;
  color: #6c6c6c;
  font-size: 14px;
  /* font-family: Montserrat; */
  font-weight: 500;
  padding: 20px;
}

.coursesBox:hover {
  background: linear-gradient(134deg, #feaf00 0%, #f8d442 100%);
  cursor: pointer;
  color: #fff;
}

.coursesBox span {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #000;
  font-size: 30px;
  /* font-family: Montserrat; */
  font-weight: 700;
}

.paymentsBox {
  position: relative;
  width: 255px;
  height: 157px;
  border-radius: 8px;
  background: #fefbec;
  padding: 20px;
  color: #6c6c6c;
  font-size: 14px;
  /* font-family: Montserrat; */
  font-weight: 500;
}

.paymentsBox:hover {
  background: linear-gradient(134deg, #feaf00 0%, #f8d442 100%);
  cursor: pointer;
  color: #fff;
}

.paymentsBox span {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #000;
  font-size: 30px;
  /* font-family: Montserrat; */
  font-weight: 700;
}

.usersBox {
  position: relative;
  width: 255px;
  height: 157px;
  border-radius: 8px;
  background: #f0fff0;
  color: #6c6c6c;
  font-size: 14px;
  /* font-family: Montserrat; */
  font-weight: 500;
  padding: 20px;
}

.usersBox:hover {
  background: linear-gradient(134deg, #feaf00 0%, #f8d442 100%);
  cursor: pointer;
  color: #fff;
}

.usersBox span {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #000;
  font-size: 30px;
  /* font-family: Montserrat; */
  font-weight: 700;
}

/* home page ends */

/* students page starts */

.studentsPage {
  display: grid;
  grid-template-columns: 1fr 4.33fr;
  gap: 0px 0px;
}

.studentsOverview {
  background: #f8f8f8;
}

.studentsPageTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px 12px 30px;
  background: #f8f8f8;
  border-bottom: 1px solid #e5e5e5;
}

.studentsPageTop h1 {
  color: #000;
  font-size: 22px;
  /* font-family: Montserrat; */
  font-weight: 700;
}

.studentsPageTop input {
  width: 212px;
  height: 37px;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  background: #fff;

  color: #c4c4c4;
  font-size: 14px;
  /* font-family: Montserrat; */
  padding-left: 13px;
}

.studentsPageTop button {
  width: 199px;
  height: 44px;
  border-radius: 4px;
  background: #feaf00;
  color: #fff;
  font-size: 14px;
  /* font-family: Montserrat; */
  font-weight: 500;
  margin-left: 24px;
}

.studentsPageTable {
  margin: 0 30px 0 30px;
  
}

table {
  width: 100%;

}

.studentsPageTable th {
  padding: 22px 0 22px 0;
  color: #acacac;
  font-size: 12px;
  /* font-family: Montserrat; */
  font-weight: 600;
  text-align: left;
}

.studentsPageTable td {
  height: 85px;
  border-radius: 8px;
  background: #fff;
  /* padding: 14px 14px 14px 14px; */
  text-align: left;
}

#picture {
  padding-left: 14px;
}

/* students page ends */
