/* home page starts */

.homePage {
    display: grid;
    grid-template-columns: minmax(200px, 270px) 4.33fr;
    gap: 0px 0px;
  }
  
  .homeOverview {
    height: 100vh;
    margin: 0 30px 0 30px;
  }
  
  .homeBoxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    gap: 30px;
  }
  
  .homeBox {
    position: relative;
    width: 255px;
    height: 157px;
    border-radius: 8px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 500;
    padding: 20px;
  }
  
  .homeBox:hover {
    background: linear-gradient(134deg, #feaf00 0%, #f8d442 100%);
    cursor: pointer;
    color: #fff;
  }

  .homeBox:hover svg {
    fill: #fff;
  }

  .homeBox p {
    margin-top: 16px;
  }
  
  .homeBox span {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #000;
    font-size: 30px;
    font-weight: 700;
  }
  
  /* home page ends */