/* students page starts */

.studentsPage {
    display: grid;
    grid-template-columns: minmax(200px, 270px) 4.33fr;
    gap: 0px 0px;
  }
  
  .studentsOverview {
    background: #f8f8f8;
  }
  
  .studentsPageTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 30px 12px 30px;
    background: #f8f8f8;
    border-bottom: 1px solid #e5e5e5;
  }
  
  .studentsPageTop h1 {
    color: #000;
    font-size: 22px;
    font-weight: 700;
  }
  
  .studentsPageTop input {
    width: 212px;
    height: 37px;
    border-radius: 8px;
    border: 1px solid #e5e5e5;
    background: #fff;
  
    color: #c4c4c4;
    font-size: 14px;
    padding-left: 13px;
  }
  
  .studentsPageTop button {
    width: 199px;
    height: 44px;
    border-radius: 4px;
    background: #feaf00;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin-left: 24px;
  }
  
  /* table start */
  #studentsList {
    display: flex;
    flex-direction: column;
    margin: 0 30px 0 30px;
  }
  
  table {
    width: 100%;
    background-color:#F8F8F8;
    border: none;
  }
  
  thead tr {
    height: 58px;
    align-items: start;
    text-align: left;
    color: #acacac;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  thead th {
    padding: 0 14px 0 14px;
  }
  
  tbody {
    gap: 10px;
  }
  
  tbody tr {
    height: 85px;
    align-items: start;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px 0 10px 0;
  }
  
  tbody td {
    padding: 14px 14px 14px 14px;
    margin-bottom: 14px;
  }
  
  tbody td:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .highlight {
    color: red;
  }
  
  
  /* students page ends */